---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Begin from "../components/Begin.astro";
import Services from "../components/services/Services.astro";
import Resume from "../components/Resume.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
import Testimonials from "../components/Testimonials.astro";
import Blog from "../components/Blog.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Лучший эксперт в Сургуте ХМАО-Югры"
  seoTitle="Лучший эксперт в Сургуте"
  seoDescr="Производство экспертиз и оценок в Сургуте ХМАО-Югры"
>
  <main class="main">
    <Header />
    <Hero />
    <Begin />
    <Services />
    <Resume />
    <Skills />
    <Work />
    <Testimonials />
    <Blog />
    <Contact />
  </main>
</Layout>
