---
import { Icon } from "astro-icon";
---

<section class="about section container">
  <h2 class="section__title about">Начало</h2>  
  <p class="about__details">
    Survived not only five centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged. It was popularised in the
    1960s with the release of Letraset sheets containing Lorem Ipsum passages,and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>    
  <p class="about__details">
    Survived not only five centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged. It was popularised in the
    1960s with the release of Letraset sheets containing Lorem Ipsum passages,and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>    
  <a href="../assets/John-Cv.pdf" class="btn" title="скачать прайлист" download>
    <Icon pack="mdi" name="file-download" size={25} />
    ПРАЙСЛИСТ
  </a>
</section>

<style>

section {
  border: 1px solid var(--border-color);
}
  
  .about__details {
    margin-bottom: 1.5rem;
    font-size: var(--fs-lg);
    line-height: 1.65em;
    text-align: justify;
  } 

  span {
    float: right;
    padding-top: .5rem;
    font-size: .9rem;
    
  }

  a {
    color: var(--title-color);
  }

  a:hover {
    text-decoration: underline;
    color: var(--text-color);
  }

  .btn {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    font-size: var(--fs-sm);
    line-height: 1.43em;
    color: var(--bg-color);
    font-weight: bold;
    max-width: 210px;
    background-color: var(--text-color);
    padding: 0.5em 2em;
    border-radius: 1.5rem;
    transition: var(--transition);
  }

  .btn:hover {
    text-decoration: underline;
  }

  /* ======= (Small Devices) ======= */
  @media (width < 600px) {    
    .hello {
      padding: 0 1rem;
    }
  }
</style>
