---
import img1 from "../assets/blog-1.png";
import img2 from "../assets/blog-2.png";
import img3 from "../assets/blog-3.png";
---

<section id="blog" class="blog section container">
  <hr />
  <h2 class="section__title">Блог</h2>
  <div class="post__container">
    <!-- post-card-1 -->
    <div class="post__card">
      <img src={img1} class="post__img" alt="img1" />

      <div class="post__content">
        <p class="post__date text-xs">October 10, 2022</p>
        <h3 class="post__title text-sm">HOW TO USE CSS-PREPROCESSOR</h3>
        <p class="post__descr text-sm">
          Letraset sheets containing Lorem Ipsum passages with the release of
          Letraset sheets...
        </p>
      </div>
    </div>

    <!-- post-card-2 -->
    <div class="post__card">
      <img src={img2} class="post__img" alt="img2" />

      <div class="post__content">
        <p class="post__date text-xs">November 12, 2022</p>
        <h3 class="post__title text-sm">SVG SPRITES VS ICON FONT</h3>
        <p class="post__descr text-sm">
          Letraset sheets containing Lorem Ipsum passages with the release of
          Letraset sheets...
        </p>
      </div>
    </div>

    <!-- post-card-3 -->
    <div class="post__card">
      <img src={img3} class="post__img" alt="img3" />

      <div class="post__content">
        <p class="post__date text-xs">June 20, 2023</p>
        <h3 class="post__title text-sm">HOW I ORGANIZE MY WORK WITH CODE</h3>
        <p class="post__descr text-sm">
          Letraset sheets containing Lorem Ipsum passages with the release of
          Letraset sheets...
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .post__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
  }

  .post__img {
    vertical-align: middle;
  }

  .post__content {
    border: 1px solid var(--border-color);
    padding: 1.25rem 1.875rem 2.5rem 1.25rem;
  }

  .post__date {
    text-transform: uppercase;
    color: var(--text-color-alt);
    margin-bottom: 0.8em;
  }

  .post__title {
    margin-bottom: 1.1em;
  }

  .post__descr {
    color: var(--text-color-alt);
    text-align: justify;
  }

  /* ======= (Small Devices) ======= */
  @media (width < 600px) {

    .section__title {
      font-size: 1.8rem;
    }
    .post__container {
      grid-template-columns: 1fr;
    }    
  }
</style>
