---
import Footer from "./Footer.astro";
---

<section id="contact" class="contact section">
  <div class="contact__content container">
    <h2 class="section__title">Контакты</h2>
    <div class="contact__container">
      <!-- contact info -->
      <div class="contact__info">
        <dl class="contact__list">
          <dt>Телефон:</dt>
          <dd>
            <a href="tel:+79128168672">+ 7 (912) 816-86-72</a>
          </dd>
          <dt>Skype:</dt>
          <dd>Expert_086</dd>
          <dt>Email:</dt>
          <dd>expert086@gmail.com</dd>
        </dl>                
      </div>
      

      <!-- contact form -->
      <div class="contact__form">
        <p class="contact__form-title">Напиши мне письмо</p>

        <form action="" id="contact-form">
          <!-- input 1 -->
          <div class="contact__input-div">
            <input
              type="text"
              placeholder="Ваше имя"
              class="contact__input"
              id="contact-name"
            />
          </div>

          <!-- input 2 -->
          <div class="contact__input-div">
            <input
              type="email"
              placeholder="Ваш e-mail"
              class="contact__input"
              id="contact-email"
            />
          </div>

          <!-- text area -->
          <div class="contact__input-div">
            <textarea
              placeholder="Введите ваше сообщение"
              id="message"
              cols="30"
              rows="10"
              class="contact__input textarea"></textarea>
          </div>
          <button type="submit">ОТПРАВИТЬ</button>
        </form>

        <Footer />
      </div>
    </div>
  </div>
</section>

<style>
  .contact {
    background: url("../assets/bg.jpg");
    background-size: cover;
    background-position: 50%;
    position: relative;
  }

  .contact__container{
    display:flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact::before {
    content: "";
    background: var(--linear-gradient);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .contact__content {
    z-index: 10;
    position: relative;
  }

  .contact__container {
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    column-gap: 1.875rem;
    padding-top: 1.25rem;
  }

  .contact .section__title,
  .contact__list,
  .social-link,
  .contact__input,
  .contact__input::placeholder,
  .contact__form-title,
  .footer__copy {
    color: #fff;
    font-family: var(--mono-font);
  }

  .contact__list {
    margin-bottom: 3.25rem;
  }

  .contact__list dt {
    float: left;
    font-weight: var(--bold);
    text-transform: uppercase;
  }

  .contact__list dd {
    padding-left: 6.25em;
    margin-bottom: 0.94rem;
  }

  .contact__socials li {
    margin-bottom: 0.75rem;
    font-family: var(--roboto-font);
  }

  .social-link {
    font-family: var(--roboto-font);
  }

  .contact__form {
    position: relative;
  }

  .contact__form-title {
    margin-bottom: 1.25em;
  }

  .contact__input-div {
    margin-bottom: 0.94em;
  }

  .contact__input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 0.625rem;
  }

  .textarea {
    height: 7.2rem;
  }

  .contact__input:focus {
    box-shadow: inset 0 0 5px 0 #fff;
  }

  .contact_message {
    position: absolute;
    bottom: 33%;
    left: 0;
    font-family: var(--mono-font);
  }

  button {
    margin-top: 1.875rem;
    width: 100%;
    box-shadow: 0 1px 29px rgb(0 0 0 / 40%);
    border-radius: 20px;
    padding: 12px 24px;
    background-color: #505050;
    color: #fff;
    border: none;
  }

  .footer__copy {
    opacity: 0.4;
    margin-top: 3.75rem;
    text-align: center;
  }

  /* ======= (Small Devices) ======= */
  @media (width < 600px) {
    .contact__container {
      grid-template-columns: 1fr;
    }

    .contact__socials {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      gap: 2rem;
    }
  }
</style>
