<footer>
  <p class="footer__copy">
    2002 - 2023 &copy; Expert086.ru <span>Все права защишены</span>
  </p>
</footer>

<style>
  .footer__copy {
    opacity: 0.4;
    margin-top: 3.75rem;
    text-align: center;
    color: #fff;    
  }

  /* ======= (Small Devices) ======= */
  @media (width < 600px) {
    .footer__copy span {
      display: block;
      margin-top: 0.5rem;
    }
  }
</style>
