---
import { SEO } from "astro-seo";

export interface Props {
  title: string;  
  seoDescr: string;
}

const { title, seoDescr } = Astro.props;
---

<head>
  <SEO     
    description={seoDescr} 
  /> 
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />  
  <title>{title}</title>
</head>