---
import profileImg from "../assets/profile.png";
import { Icon } from "astro-icon";
const name = "";
---

<section id="home">
  <div class="home__container container grid">
    <img src={profileImg} class="home__img" alt="profile" />

    <div class="home__data">
      <!-- <h1 class="home__name">{name}</h1> -->
      <h1 class="home__name">Евгений Орлов</h1>
      <p class="home__work">эксперт(оценщик) высшей квалификации</p>
      <dl class="home__list">
        <dt>AGE:</dt>
        <dd>23</dd>
        <dt>PHONE:</dt>
        <dd>8 (234) 456-33-33</dd>
        <dt>EMAIL:</dt>
        <dd>mail@mail.ru</dd>
        <dt>ADDRESS:</dt>
        <dd>Melboure Victoria 3000 Australia</dd>
      </dl>

      <div class="home__socials">
        <ul>
          <li>
            <a
              href="https://github.com"
              class="home__social-link"
              target="_blank"
            >
              <Icon pack="mdi" name="github" size={30} />
            </a>
          </li>
          <li>
            <a
              href="https://linked.com"
              class="home__social-link"
              target="_blank"
            >
              <Icon pack="uil" name="linkedin" size={30} />
            </a>
          </li>
          <li>
            <a
              href="https://facebook.com"
              class="home__social-link"
              target="_blank"
            >
              <Icon pack="ic" name="baseline-facebook" size={30} />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  #home {
    background: url("../assets/home-bg.jpg");
    background-size: cover;
    background-position: 50%;
    padding-top: 5.5rem;
    color: var(--bg-color);
    position: relative;
    margin-bottom: 2rem;
  }

  #home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
  }

  .grid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 1rem;
  }

  .home__img,
  .home__data {
    z-index: 10;
  }

  .home__img {
    width: 90%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.3rem;
    transform: translateY(3.125rem);
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
  }

  .home__name,
  .home__work,
  .home__list,
  .home__socials-link {
    font-family: var(--mono-font);
  }

  .home__name {
    font-size: var(--fs-h1);
    line-height: 1.14em;
    margin: 0.9em 0 0.23em;
  }

  .home__work {
    margin-bottom: 2.5em;
  }

  .home__list dt {
    float: left;
    font-weight: var(--bold);
    opacity: 0.4;
  }

  .home__list dd {
    padding-left: 6.25em;
  }

  .home__list dd:not(:last-child) {
    margin-bottom: 0.94em;
  }

  .home__socials {
    margin: 1.25rem 0 2.2rem;
  }

  .home__social-link {
    opacity: 0.6;
    transition: var(--transition);
  }

  .home__social-link:hover {
    opacity: 1;
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  a {
    color: var(--bg-color);
  }
</style>


