<section id="skills" class="skills section container">
  <hr />
  <h2 class="section__title">Навыки</h2>
  <div class="skills__container">
    <!-- Right block -->
    <div class="skills__content">
      <h3 class="skills__title">Frontend</h3>
      <div class="skills__list">
        <!-- skills 1 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">HTML</p>
            <span class="skills__number">90%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 90%"></span>
          </div>
        </div>

        <!-- skills 2 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">CSS</p>
            <span class="skills__number">80%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 80%"></span>
          </div>
        </div>

        <!-- skills 3 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">JavaScript</p>
            <span class="skills__number">60%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 60%"></span>
          </div>
        </div>

        <!-- skills 4 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">Astro</p>
            <span class="skills__number">85%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 85%"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Left block -->
    <div class="skills__content">
      <h3 class="skills__title backend">Backend</h3>
      <div class="skills__list">
        <!-- skills 1 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">PHP</p>
            <span class="skills__number">78%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 78%"></span>
          </div>
        </div>

        <!-- skills 2 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">Python</p>
            <span class="skills__number">86%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 86%"></span>
          </div>
        </div>

        <!-- skills 3 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">Django</p>
            <span class="skills__number">90%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 90%"></span>
          </div>
        </div>

        <!-- skills 4 -->
        <div class="skills__data">
          <div class="skills__titles">
            <p class="skills__name">MySQL</p>
            <span class="skills__number">87%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percent" style="width: 87%"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    border-bottom: 1px solid var(--border-color);    
  }

  .skills__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
  }

  .skills__list {
    display: grid;
    row-gap: 1.8rem;
  }

  .skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
  }

  .skills__percent {
    display: block;
    height: 100%;
    background-color: #6e6d6d;
    width: 0;
  }

  .skills__bar,
  .skills__percent {
    height: 5px;
    border-radius: 0.25rem;
  }

  .skills__bar {
    display: block;
    background-color: var(--bg-color-alt);
  }

  /* ======= (Small Devices) ======= */
  @media (width < 600px) {
    .skills__container {
      grid-template-columns: 1fr;
    }

    h3 {
      text-align: center;
    }

    .backend {
      padding-top: 2rem;
    }
  }
</style>
